<aside id="aside-menu">
    <div class="search__wrapper">
        <form action="/app/search" method="POST">
            <label id="site-search" class="search__container">
                <input class="search__input" type="search" name="search"
                aria-label="Rechercher parmi les articles" minlength="3" placeholder="saisir le terme à rechercher">
                <button type="submit" class="search__button"><img class="icon icon__search" src="/../../images/icon__search.svg" alt="Icone de recherche"></button>
            </label>
        </form>
    </div>

    <div class="user__actions-wrapper">
        <% if (pseudo) { %>
            <div class="user__welcome-msg">Bienvenue, <span class="user__pseudo"><%= pseudo %></span>&#8239;!</div>
        <% } %>
        <div class="user__login">

            <% if (pseudo) { %>
                <a id="button__logout" class="button--linkto button--muted" href="/auth/logout">Logout</a>
            <% } else { %>
                <a id="button__login" class="button--linkto button--muted" href="/auth/login">Login</a>
            <% } %>
            <% if(!pseudo)  {%>
                / <a id="button__logout" class="button--linkto button--muted" href="/auth/register">Sign-up</a>
            <% } %>
        </div>
    </div>
</aside>