<footer id="footer">
    <span>Tous droits réservés ©2022</span> <div class="footer__separator"></div> 
    <span><a href="">Conditions générales d'utilisation</a></span> <div class="footer__separator"></div> 
    <span><a href="">Mentions légales</a></span>
</footer>